[Unit]
Description=Minecraft server
Requires=minecraft-router.service
Wants=minecraft-backup.service

[Container]
Image=docker.io/itzg/minecraft-server:latest
AutoUpdate=registry
HostName=minecraft
Volume=minecraft-data.volume:/data
Network=minecraft.network
Label=mc-router.host=minecraft.localhost
Environment=EULA=true
Environment=UID=0
Environment=GID=0
Secret=minecraft-rcon-password,type=env,target=RCON_PASSWORD

[Install]
WantedBy=default.target
