[Unit]
Description=Minecraft server
Requires=minecraft-router.service
Requires=minecraft-data-volume@dragon.service
After=minecraft-data-volume@dragon.service
Wants=minecraft-backup@dragon.service

[Container]
Image=docker.io/itzg/minecraft-server:java21
AutoUpdate=registry
HostName=dragon
Volume=minecraft-data-dragon:/data:z
Network=minecraft.network
Label=mc-router.host=dragon.localhost
Environment=VERSION=1.21.1
Environment=EULA=true
Environment=UID=0
Environment=GID=0
Secret=minecraft-rcon-password,type=env,target=RCON_PASSWORD

[Install]
WantedBy=default.target
