[Unit]
Description=RCON web portal

[Container]
Image=docker.io/itzg/rcon:latest
AutoUpdate=registry
Network=minecraft.network
Environment=RWA_RCON_HOST=dragon-pack
Environment=RWA_USERNAME=joshua
Environment=RWA_PASSWORD=changeme
